{
  // preconfiguraciones de babel
  "plugins": [
    // jala el core del runtime para dar soporte a las nuevas funciones de js
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    "@babel/preset-env",
    // babel entienda código .jsx
    "@babel/preset-react"
  ]
}